body {
    background-color: rgb(62,28,65);
}

#login-box {
    background-color: transparent;
    width: 400px;
    height: 270px;
    margin: 140px auto 0px;
    border-radius: 5px;
}

#login-box-interno {
    width: 380px;
    min-height: 250px;
    padding-bottom: 20px;
    background-color: rgb(242,242,242);
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-label {
   background-color: rgb(114,76,117);
    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 0px 3px black;
    text-shadow: 1px 0px 1px black;
    }

.input-div {
    margin: 22px;
    padding: 5px;
    margin-left: 17px;
    background-color: #f2f5f7;
    border-radius: 3px;
}

    .input-div input {
        width: 325px;
        height: 35px;
        padding-left: 7px;
        font: normal 13px sans-serif;
        color: #aeaeae;
        border-radius: 1px;
        border: 1px solid #bfc4c6;
        outline: none;
    }

    .input-div:hover {
        background-color: #e0f1fc;
    }

        .input-div:hover input {
            border-color: #7dc6dd;
        }

#input-senha {
    margin-top: -10px;
}

#botoes {
    width: 310px;
    margin-left: 20px;
}

#botao {
    float: right;
    background-color: #edf6f9;
    padding: 5px 15px;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 1px solid #9eb9c3;
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;
    margin-right: 50px;
}

    #botao:hover {
        background-color: #cde5ee;
        cursor: pointer;
    }

input[type=submit] {
		position: relative;
		padding:5px 15px;
        height: 35px;
        width: 90px;
		background: rgb(117,75,117); 
        color: white;
        font-family: sans-serif;
        font-size: 11.5px;
        font-style: bold;
		border:0 none;
		cursor:pointer;
		border-radius: 5px;
		transition: all 0.3s;
		margin-left: 55px;
		
	}
	
	input[type=submit]:hover { 
		transition: all 0.3s;
		background: rgb(114,50,125); 
		color: white;
	}
	
	